<div class="col-md-3">
    <div class="input-group date date-pickerr">
        <input type="text" size="16" data-date-today-btn="false" data-date-today-highlight="true" data-date-format="dd/mm/yyyy" data-provide="datepicker" readonly class="form-control datefrom" placeholder="{{ "general.from"|trans}}" name="datefrom" value="{{ datefrom is defined ? datefrom : "" }}" > 
        <span class="input-group-btn">
            <button class="btn default date-set" type="button">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
</div>
<div class="col-md-3">
    <div class="input-group date date-pickerr">
        <input type="text" size="16" data-date-today-btn="false" data-date-today-highlight="true" data-date-format="dd/mm/yyyy" data-provide="datepicker" readonly class="form-control dateto" placeholder="{{ "general.to"|trans}}" name="dateto" value="{{ dateto is defined ? dateto : "" }}">
        <span class="input-group-btn">
            <button class="btn default date-set" type="button">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
</div>
