 
<table role="presentation" class="table table-striped clearfix uploadfilestable">
    <tbody class="files uploadfiles"> 
        <tr class="template-upload fade in imgcontainer" style="display:none">
            <td>
                <span class="preview"> 
                    <img  /> 
                </span>
            </td> 
        </tr>

        <tr class="template-upload fade in clearimagescontainer" style="display:none">
            <td>
                <button type="button" class="clearimages btn btn-warning">{{ "table.clear"|trans }}</button>
            </td> 
        </tr>

    </tbody>
</table> 